#calculator{
  border:1px solid black;
 border-radius: 5px;
 width: 300px;
}
#display{
margin: 10px;
width: 91%;
font-size: 30px;
}
.button-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width: 65px;
  height: 50px;
  margin: 7px;
}